<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Visualization</title>
</head>

<script type="text/javascript">
    function OnSubmitForm() {
        if (document.makeplotform.radio_chart[0].checked == true) {
            document.makeplotform.action = "/bar-chart?";
        }
        if (document.makeplotform.radio_chart[1].checked == true) {
            document.makeplotform.action = "/line-chart?";
        }
        if (document.makeplotform.radio_chart[2].checked == true) {
            document.makeplotform.action = "/scatter-plot?";
        }
        return true;
    }

    function display() {
        if (document.makeplotform.radio_chart[0].checked == true) {
            document.getElementById("dd_col1").style.visibility = "visible";
            document.getElementById("dd_col2").style.visibility = "hidden";
            document.getElementById("dd_sort").style.visibility = "visible";
            document.getElementById("dd_binsize").style.visibility = "visible";
            document.getElementById("col1_label_name").innerHTML = 'Name of column';
        }
        if (document.makeplotform.radio_chart[1].checked == true) {
            document.getElementById("dd_col1").style.visibility = "visible";
            document.getElementById("dd_col2").style.visibility = "visible";
            document.getElementById("dd_sort").style.visibility = "hidden";
            document.getElementById("dd_binsize").style.visibility = "hidden";
            document.getElementById("col1_label_name").innerHTML = 'Time-based column';
        }
        if (document.makeplotform.radio_chart[2].checked == true) {
            document.getElementById("dd_col1").style.visibility = "visible";
            document.getElementById("dd_col2").style.visibility = "visible";
            document.getElementById("dd_sort").style.visibility = "hidden";
            document.getElementById("dd_binsize").style.visibility = "hidden";
            document.getElementById("col1_label_name").innerHTML = 'Name of column 1';
        }
    }

    function setColumns() {
        columns = '{{ columns }}'
        var clean_columns = columns.replaceAll('&#39;', '').replace('[', '').replace(']', '').split(", ");
        var dropdown = document.getElementById("selectColumn");
        clean_columns.map(function (item) {
            var option = document.createElement("option");
            option.value = item;
            option.text = item;
            dropdown.appendChild(option)
        });
        var dropdown2 = document.getElementById("selectColumn2");
        clean_columns.map(function (item) {
            var option2 = document.createElement("option");
            option2.value = item;
            option2.text = item;
            dropdown2.appendChild(option2)
        });
    }
</script>

<body style="background-color: #118ab2;" onload="setColumns()">
    <h1 style="text-align: center; color: white; padding-top: 100px; font-size: 45px;">
        DATA VISUALIZATON
    </h1>
    <form name="makeplotform" onsubmit="return OnSubmitForm();"
        style="color: white; text-align: center; padding-top: 80px;">
        <div style="width: 200;">
            <label>File chosen</label>
            <input style="border: 0;
                    outline: 0;
                    background: transparent;
                    border-bottom: 2px solid white;
                    font-size: large;
                    color: #073b4c;" name="file" value="{{ filename }}">
        </div>
        <h2 style="padding-top: 50px;">
            Chart Type
        </h2>
        <div style="color: #073b4c" onclick=" return display()">
            <input type="radio" name="radio_chart">bar
            <input type="radio" name="radio_chart">line
            <input type="radio" name="radio_chart">scatter
        </div>
        <div id="dd_col1" style="width: 200; visibility: hidden;">
            <label id="col1_label_name">Name of column 1</label>
            <select id="selectColumn" name="column1"></select>
        </div>
        <div id="dd_col2" style="width: 200; visibility: hidden;">
            <label>Name of column 2</label>
            <select id="selectColumn2" name="column2"></select>
        </div>
        <div id="dd_sort" style="width: 200; visibility: hidden;">
            <label>Sorted</label>
            <select name="sort" id="sort">
                <option value="1">sorted</option>
                <option value="0">unsorted</option>
            </select>
        </div>
        <div id="dd_binsize" style="width: 200; visibility: hidden; position: relative; bottom: 45px;">
            <label>Bin settings</label>
            <select name="bins" id="bins">
                <option value="default">use default</option>
                <option value="head">show first 10 rows</option>
            </select>
        </div>
        <div>
            <button style="width: 200px;
                height: 70px;
                font-size: larger;
                border-radius: 10px;
                border: 2px solid #06d6a0;
                background-color: white;
                color: #ef476f;" type="submit">Show chart</button>
        </div>
    </form>
</body>

</html>