<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Visualization</title>
</head>
<body style="background-color: #118ab2;">
    <h1 style="text-align: center; color: white; padding-top: 100px; font-size: 45px;">
        DATA VISUALIZATON
    </h1>
    <form name="myform" onsubmit="return OnSubmitForm();" style="color: white; text-align: center; padding-top: 100px;">
        <div>
            <label>File</label>
            <input 
            style="border: 0;
            outline: 0;
            background: transparent;
            border-bottom: 2px solid white;
            font-size: large;
            color: #ef476f;" 
            name="file" 
            value="globalterrorism.csv"
            required>
            <div style="padding-top: 20px; color: #073b4c; font-size: smaller;">
                OBS: Remember to have your .csv file locally in the root-directory!
            </div>
        </div>
        <h2 style="padding-top: 50px;">
            Chart Type
        </h2>
        <div onclick="return display()" style="color: #ef476f;">
            <input type="radio" name="radio_chart">bar
            <input type="radio" name="radio_chart">line
        </div>
        <div id="bar" style="visibility: hidden; position: relative; top: 30px">
            <div style="width: 200;">
                <label>Name of column</label>
                <input 
                style="border: 0;
                outline: 0;
                background: transparent;
                border-bottom: 2px solid white;
                font-size: large;
                color: #ef476f;
                width: fit-content;" 
                name="column">
            </div>
            <div style="width: 200;">
                <label>Sorted</label>
                <input
                style="border: 0;
                outline: 0;
                background: transparent;
                border-bottom: 2px solid white;
                font-size: large;
                color: #ef476f;
                width: fit-content;" 
                name="sort">
                <div style="padding-top: 20px; color: #073b4c; font-size: smaller;">
                    1=sort, 0=unsorted.
                </div>
            </div>
        </div>
        <div id="line" style="visibility: hidden; position: relative; bottom: 60px;">
            <div style="width: 200;">
                <label>Name of year-column</label>
                <input 
                style="border: 0;
                outline: 0;
                background: transparent;
                border-bottom: 2px solid white;
                font-size: large;
                color: #ef476f;
                width: fit-content;" 
                name="year">
            </div>
            <div style="width: 200;">
                <label>Name of column to distribute over years</label>
                <input 
                style="border: 0;
                outline: 0;
                background: transparent;
                border-bottom: 2px solid white;
                font-size: large;
                color: #ef476f;
                margin-bottom: 30px;
                width: fit-content;" 
                name="group">
            </div>
        </div>
        <div>
            <button 
            style="width: 200px;
            height: 70px;
            font-size: larger;
            border-radius: 10px;
            border: 2px solid #06d6a0;
            background-color: white;
            color: #ef476f;"
            type="submit">Show chart</button>
        </div>
    </form>

    <script type="text/javascript">
        function OnSubmitForm()
        {
          if(document.myform.radio_chart[0].checked == true)
          {
            document.myform.action ="/bar-chart?";
          }
          else
          if(document.myform.radio_chart[1].checked == true)
          {
            document.myform.action ="/line-chart?";
          }
          return true;
        }

        function display() {
            if(document.myform.radio_chart[0].checked == true)
            {
                document.getElementById("bar").style.visibility="visible";  
                document.getElementById("line").style.visibility="hidden";  
            }
            if(document.myform.radio_chart[1].checked == true)
            {
                document.getElementById("bar").style.visibility="hidden"; 
                document.getElementById("line").style.visibility="visible";   
            }
        }
        </script>
    
</body>
</html>