<!doctype html>
<html>

<div
   style="background-image: url(../static/example.png); opacity: .30; background-size: 100%; position: fixed; top: 0; bottom: 0; right: 0; left: 0;">
</div>

<body style="font-family: Verdana, sans-serif; font-variant: small-caps;">

   <div style="background-color: #83c5be; opacity: .99;">
      <h1 style="text-align: center; color: #ffddd2; padding-top: 50px; font-size: 45px; font-weight: 100;">
         PlotMe
      </h1>
      <h2
         style="text-align: center; color: white; font-size: 15px; position: relative; bottom: 20px; font-style: italic; font-weight: 100; padding-bottom: 20px;">
         Like one of your french girls...
      </h2>
   </div>
   <div
      style="text-align: center; opacity: .99; text-align: center; margin: 0 auto; margin-top: 20px; text-align: center;">
      <img src="{{ url_for('static', filename=plot) }}" height="500px" />
   </div>
   <form style="text-align: center; opacity: .99;">
      <input style="font-size: 20px;
      padding: 10px 40px 10px 40px;
      border-radius: 4px;
      border: 2px solid #006d77;
      background-color: #83c5be;
      color: #ffddd2;
      text-align: center;
      cursor: pointer;" type="button" value="Go back!" onclick="history.back()">
   </form>

</body>

</html>