<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Visualization</title>
</head>
<body>
    <form name="myform" onsubmit="return OnSubmitForm();">
        Chart Type
        <div>
            <input type="radio" name="radio_chart" id="bar" value="1" checked>bar
            <input type="radio" name="radio_chart" id="line" value="2">line
        </div>
        <div>
            <label>File</label>
            <input name="file" value="globalterrorism.csv" required>
        </div>
        <div>
            <label>Column</label>
            <input name="year" value="region_txt" required>
        </div>
        <div>
            <label>Sort</label>
            <input name="group" value="True" required>
        </div>

        <div>
            <label>Year</label>
            <input name="year" value="iyear" required>
        </div>
        <div>
            <label>Group</label>
            <input name="group" value="targtype1_txt" required>
        </div>
        <div>
            <button type="submit">Show chart</button>
        </div>
    </form>

    <script type="text/javascript">
        function OnSubmitForm()
        {
          if(document.myform.chart[0].checked == true)
          {
            document.myform.action ="/bar-chart?";
          }
          else
          if(document.myform.chart[1].checked == true)
          {
            document.myform.action ="/line-chart?";
          }
          return true;
        }
        </script>
    
</body>
</html>