<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Visualization</title>
</head>
<div
    style="background-image: url(../static/example.png); opacity: .30; background-size: 100%; position: fixed; top: 0; bottom: 0; right: 0; left: 0;">
</div>

<body style="font-family: Verdana, sans-serif; font-variant: small-caps;">
    <div style="background-color: #83c5be; opacity: .99; margin-top: -30px; margin-left: -8px; margin-right: -8px;">
        <h1 style="text-align: center; color: #ffddd2; padding-top: 20px; font-size: 45px; font-weight: 100;">
            PlotMe
        </h1>
        <h2
            style="text-align: center; color: white; font-size: 15px; position: relative; bottom: 20px; font-style: italic; font-weight: 100; padding-bottom: 20px;">
            Like one of your french girls...
        </h2>
    </div>
    <div
        style="opacity: .90; color: #006d77; text-align: center; padding-top: 30px; background-color: #edf6f9; width: 1000px; align-content: center; margin: 0 auto; margin-top: 20px;">
        <h2 style="text-align: center; color: #006d77; padding-bottom: 50px; font-weight: 100;">
            Choose A File For The Visualization
        </h2>
        <form id="fileform" method=post enctype=multipart/form-data> <label style="
            font-size: 20px;
            padding: 10px 40px 10px 40px;
            border-radius: 4px;
            border: 2px solid #006d77;
            background-color: #83c5be;
            color: #ffddd2;
            text-align: center;
            cursor: pointer;" for="file">
            Choose File
            </label>
            <input type="file" accept=".csv" name="file" id="file" />
            <style>
                input[type="file"] {
                    width: 0.1px;
                    height: 0.1px;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    z-index: -1;
                }
            </style>
            <div id="filename" style="padding-top: 10px;">
                No File Chosen
            </div>
            <input id="uploadButton" style="font-size: 20px;
            padding: 10px 40px 10px 40px;
            border-radius: 4px;
            border: 2px solid #006d77;
            background-color: #83c5be;
            color: #ffddd2;
            text-align: center;
            cursor: pointer;
            visibility: hidden;
            margin-top: 80px;" type=submit value="Upload file">
        </form>
        <form name="MLform" onsubmit="return OnSubmitForm();"
            style="visibility: visible; position: relative; bottom: 80px;">
            <h2 style="text-align: center; color: #006d77; padding-bottom: 10px; font-weight: 100;">
                Or Try Some Machine Learning!
            </h2>
            <div style="color: #006d77">
                <input onclick=" return display()" type="radio" name="radio_chart">Gaussian Naive Bayes
                <input onclick=" return display()" type="radio" name="radio_chart">Kmeans
                <input onclick=" return display()" type="radio" name="radio_chart">Linear Regression
            </div>
            <div id="dd_targ" style="width: 200; visibility: hidden;">
                <label id="targ_label_name">Name of target variable</label>
                <select name="target" id="target" onchange="return removeTarg()">
                    <option value="gname">terrorist group</option>
                    <option value="region">region</option>
                    <option value="country">country</option>
                    <option value="attacktype1_txt">attacktype</option>
                    <option value="targtype1_txt">targettype</option>
                    <option selected="selected" value="suicide">suicide</option>
                    <option value="success">success</option>
                    <option value="property">property harmed</option>
                    <option value="specificity">specificity</option>
                    <option value="nkill">number killed</option>
                    <option value="nwound">number wounded</option>
                    <option value="nkillus">number killed us</option>
                    <option value="nkillter">number killed terrorists</option>
                    <option value="iday">day</option>
                    <option value="imonth">month</option>
                    <option value="iyear">year</option>
                </select>
            </div>
            <div id="dd_feat" style="width: 200; visibility: hidden; padding-top: 5px; position: relative;">
                <label style="position: relative; bottom: 55px" id="feat_label_name">Select your features</label>
                <select size="5" name="features" id="features" multiple>
                    <option value="gname">terrorist group</option>
                    <option value="region">region</option>
                    <option value="country">country</option>
                    <option value="attacktype1">attacktype</option>
                    <option value="targtype1">targettype</option>
                    <option value="suicide">suicide</option>
                    <option value="success">success</option>
                    <option value="property">property harmed</option>
                    <option value="specificity">specificity</option>
                    <option selected="selected" value="nkill">number killed</option>
                    <option selected="selected" value="nwound">number wounded</option>
                    <option value="nkillus">number killed us</option>
                    <option value="nkillter">number killed terrorists</option>
                    <option value="iday">day</option>
                    <option value="imonth">month</option>
                    <option value="iyear">year</option>
                </select>
            </div>
            <div id="dd_feat_single" style="width: 200; visibility: hidden; position: relative; bottom: 78px">
                <label id="feat_label_name">Select your features</label>
                <select name="feature" id="feature">
                    <option value="gname">terrorist group</option>
                    <option value="region">region</option>
                    <option value="country">country</option>
                    <option value="attacktype1">attacktype</option>
                    <option value="targtype1">targettype</option>
                    <option value="suicide">suicide</option>
                    <option value="success">success</option>
                    <option value="property">property harmed</option>
                    <option value="specificity">specificity</option>
                    <option selected="selected" value="nkill">number killed</option>
                    <option value="nwound">number wounded</option>
                    <option value="nkillus">number killed us</option>
                    <option value="nkillter">number killed terrorists</option>
                    <option value="iday">day</option>
                    <option value="imonth">month</option>
                    <option value="iyear">year</option>
                </select>
            </div>
            <div id="warning" style="font-size: 10px; font-weight: bold; visibility: hidden; position: relative;">
                NB: DO NOT CHOOSE THE TARGET AS A FEATURE!
            </div>
            <div style="padding-top: 30px; position: relative;">
                <button id="submitButton" style="width: 200px;
                height: 50px;
                font-size: 20px;
                border-radius: 4px;
                border: 2px solid #006d77;
                background-color: #83c5be;
                visibility: hidden;
                cursor: pointer;
                color: #ffddd2;" type="submit">Run ML!</button>
            </div>
        </form>
    </div>
    <script>
        document.getElementById('file').onchange = function () {
            document.getElementById('filename').innerHTML = 'Selected file: ' + this.value;
            document.getElementById('uploadButton').style.visibility = 'visible';
            document.MLform.style.visibility = 'hidden';
            document.getElementById('submitButton').style.visibility = 'hidden';
        };

        function OnSubmitForm() {
            if (document.MLform.radio_chart[0].checked == true) {
                document.MLform.action = "/gaussian-nb?";
            }
            if (document.MLform.radio_chart[1].checked == true) {
                document.MLform.action = "/kmeans?";
            }
            if (document.MLform.radio_chart[2].checked == true) {
                document.MLform.action = "/regression?";
            }
            return true;
        }


        function display() {
            document.getElementById('submitButton').style.visibility = 'visible';
            document.getElementById('dd_targ').style.visibility = 'visible';
            document.getElementById("dd_feat").style.visibility = 'visible';
            document.getElementById("dd_feat_single").style.visibility = 'visible';
            document.getElementById('warning').style.visibility = 'visible';
            document.getElementById("dd_feat").style.bottom = '0px';

            if (document.MLform.radio_chart[1].checked == true) {
                document.getElementById("dd_targ").style.visibility = 'hidden';
                document.getElementById("dd_feat_single").style.visibility = 'hidden';
                document.getElementById("dd_feat").style.bottom = '25px';
            }
            if (document.MLform.radio_chart[2].checked == true) {
                document.getElementById("dd_feat").style.visibility = 'hidden';
            } else {
                document.getElementById("dd_feat_single").style.visibility = 'hidden';
            }
        }
        // THIS FUNCTION DOES NOT WORK...
        function removeTarg() {
            var select = document.getElementById("dd_feat");
            console.log('this.value:')
            console.log(this.value)
            for (var i = 0; i < select.length; i++) {
                var option = select.options[i];
                console.log('option:')
                console.log(option)
                if (option == this.value) {
                    option.Attributes.Add("disabled", "disabled");
                }
            }
        }
    </script>
</body>